HELP.md
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### My ignored files ###
src/main/resources/META-INF
src/main/resources/static/img
src/test/
quizdb.mv.db

# Gradle
#settings.gradle
#build.gradle
#gradle/
#gradlew
#gradlew.bat
/.gradle/**
