/* element tags */
html {
    height: 100%;

    font-size: 16px;
    font-family: Recursive, monospace;
    color: white;
    background: none;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;

    min-height: 100%;
    margin: 0;

    background-image: url("/img/question-mark.png");
}

@property --left{
    syntax: '<color>';
    inherits: false;
    initial-value: cornflowerblue;
}

@property --right{
    syntax: '<color>';
    inherits: false;
    initial-value: cornflowerblue;
}
  

button {
    height: 3rem;
    width: 8rem;

    border: 2px white solid;
    border-radius: 5px;

    box-shadow: 4px 4px gray;

    margin: 5px;

    background-color: cornflowerblue;
    background: linear-gradient(135deg, 
        var(--left), 
        var(--right));

    cursor: pointer;

    font-family: Recursive, monospace;
    font-size: large;
    color: white;

    transition: --left 0.5s, --right 0.5s;
}

button:active {
    position: relative;
    box-shadow: none;
    top: 4px;
    left: 4px;
}


button:hover {
    animation: shine 2s ease-in-out;
}

@keyframes shine {
   
    0% {
        --left: slateblue;
        --right: cornflowerblue;
    } 

    60% {
        --left: cornflowerblue;
        --right: slateblue;
    }

}

footer {
    position: relative;

    margin: 4rem 0 0 0;
    z-index: 1;

    height: 10rem;

    background-color: white;
    /* box-shadow: -2px -2px 10px gray; */

    color: cornflowerblue;
}

input {
    margin: 5px;
    padding: 3px;

    font-size: large;
    font-family: Recursive, monospace;

    border-radius: 3px;
    border: none;
}

input[type="checkbox" i] {
    height: 20px;
    width: 20px;
    border: white 2px solid;
    border-radius: 3px;
}

pre {
    white-space: pre-wrap;
    text-align: left;
    overflow: auto;
}

textarea {
    resize: none;
    /*width: 100%;*/

    font-family: Recursive, monospace;
    font-size: large;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* *** classes *** */

.answer-correct {
    background-color: lightgreen;
    border-radius: 5px;
    /*box-sizing: border-box;*/
}

.answer-incorrect {
    background-color: indianred;
    /*border: 2px darkslateblue solid;*/
    border-radius: 5px;
    /*box-sizing: border-box;*/
}

.big-text {
    font-family: monospace;
    font-size: xxx-large;
    color: cornflowerblue;

    /*margin: 1rem;*/
}

.flex {
    display: flex;
}

/* Play group buttons */

.label-btn {
    margin: 5px 0 5px 5px;
    background: cornflowerblue;
    cursor: initial;
    border-radius: 5px 0 0 5px;
}

.label-btn:active {
    position: initial;

    box-shadow: 4px 4px gray;
    
}

.go-play {
    width: 4rem;

    margin: 5px 5px 5px 0;

    border-radius: 0 5px 5px 0;
    border-width: 2px 2px 2px 1px;
}

.select {
    height: 3rem;
    
    border: 2px solid white;
    
    background-color: cornflowerblue;
    box-shadow: 4px 4px gray;
    

    font-family: Recursive, monospace;
    font-size: large;
    color: white;

}

.mid {
    border-width: 2px 1px 2px 0;
    margin: 5px 0 5px 0;
}

.end {
    border-radius: 0 5px 5px 0;
    margin: 5px 0 5px 0;
}

.select:focus-visible {
    outline: none;
}

/* Create a quiz question  */
/* TODO refactor CSS DRY */
.select-lbl {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 3rem;
    width: 8rem;

    border: 2px white solid;
    border-radius: 5px 0 0 5px;
    box-sizing: border-box;
    box-shadow: 4px 4px gray;
    background-color: cornflowerblue;
    
    font-family: Recursive, monospace;
    font-size: large;
    color: white;
    margin: 5px 0 5px 5px;
    
}



/* Footer info, Buy Me a Coffee btn */

.slant {
    position: absolute;

    z-index: -1;

    background-color: white;

    width: 100%;
    height: 100%;

    /* box-shadow: 0px -2px 2px 0 white; */

    transform: skewY(358deg);
    -ms-transform: skewY(358deg);
    transform-origin: top left;
}

.bmc-btn {
    position: relative;
    border: 2px white solid !important;
    border-radius: 5px !important;
    box-shadow: 4px 4px gray;
}

.bmc-btn:active {
    box-shadow: none;
    top: 4px;
    left: 4px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    width: 80%;
    margin: auto;
}

.row {
    flex-direction: row;
}

.col {
    flex-direction: column;
}

.container > .sub-container {
    margin-top: 4rem;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 10px;
}

.error {
    color: red;
    font-size: smaller;
    margin: 5px;
}

.fancy-text {
    font-family: Architects Daughter, monospace;
    /*font-style: italic;*/
    color: cornflowerblue;
    font-size: x-large;
}

.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.main {
    flex-direction: column;
    height: auto;
}

.options-container {
    display: flex;
    flex-direction: column;
    /*max-width: 400px;*/
    justify-content: center;

    margin: 2rem 20% 2rem 20%;

}

.options-container label {
    display: flex;
    align-items: center;
    margin: 0 1rem 0 0;
}

.option {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 2rem;

    border: 2px darkslateblue solid;
}

.smaller {
    margin: 0.5em;
}

.sub-container {
    display: flex;
    align-content: center;
    justify-content: center;

    margin: 0 auto 10px auto;
    padding: 1rem;
    width: 100%;
    /* max-width: 500px; */

    border-radius: 5px;

    background-color: darkslateblue;

    text-align: center;
}

#logo {
    width: 40%;
}

.welcome-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    margin: 2rem;
}

/* Media queries */

@media screen and (max-width: 768px) {

    .container {
        flex-direction: column;
    }
    .sub-container {
        width: 100%;
    }
    .user-menu-container {
        width: 100%;
    }

}

@media screen and (max-width: 425px) {
    /* User profile */
    #user-quiz-info {
        display: none;
    }

    .user-menu-container button {
        width: 3rem;
    }

    #login-btn::after {
        content: "" !important;
    }

    #logout-btn::after {
        content: "" !important;
    }

    #register-btn::after {
        content: "" !important;
    }

    button i {
        display: inline-block !important;
    }

    /* *** */

    .welcome-menu {
        flex-direction: column;
        align-items: center;
    }

    .container {
        width: auto;
    }

    .sub-container {
        padding: 1rem 0;
        border-radius: 0;
    }

    .big-text {
        font-size: xx-large;
    }
    
}

