/* tags */
html {
    height: 100%;

    font-family: Recursive, monospace;
    color: white;
    background: none;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 100%;
    margin: 0;

    background-image: url("/img/question-mark.png");
}

button {
    height: 3rem;
    width: 8rem;

    border: 2px white solid;
    border-radius: 5px;

    box-shadow: 4px 4px gray;

    margin: 5px;

    background-color: cornflowerblue;

    font-family: Recursive, monospace;
    font-size: large;
    color: white;
}

button:active {
    position: relative;
    box-shadow: none;
    top: 4px;
    left: 4px;
}




input {
    margin: 5px;
    padding: 3px;

    font-size: large;
    font-family: Recursive, monospace;

    border-radius: 3px;
    border: none;
}

input[type="checkbox" i] {
    height: 20px;
    width: 20px;
    border: white 2px solid;
    border-radius: 3px;
}

textarea {
    resize: none;
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* classes */

.answer-correct {
    background-color: lightgreen;
    border: 2px darkslateblue solid;
    border-radius: 5px;
    box-sizing: border-box;
}

.answer-incorrect {
    background-color: red;
    border: 2px darkslateblue solid;
    border-radius: 5px;
    box-sizing: border-box;
}

.big-text {
    font-family: monospace;
    font-size: xxx-large;
    color: cornflowerblue;

    margin: 1rem;
}

.bmc-btn {
    position: relative;
    border: 2px white solid !important;
    border-radius: 5px !important;
    box-shadow: 4px 4px gray;
}

.bmc-btn:active {
    box-shadow: none;
    top: 4px;
    left: 4px;

}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    width: 80%;
    margin: auto;
}

.container > .sub-container {
    margin: 0;
}

.center {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.error {
    color: red;
    font-size: smaller;
    margin: 5px;
}

.flex {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.main {
    flex-direction: column;
    height: auto;
}

.options-container {
    display: flex;
    flex-direction: column;
    /*max-width: 400px;*/
    justify-content: center;

    margin: 2rem 20% 2rem 20%;

}

.options-container label {
    display: flex;
    align-items: center;
    margin: 0 1rem 0 0;
}

.option {
    display: flex;
    justify-content: space-between;
}

.sub-container {
    display: flex;
    align-content: center;
    justify-content: center;

    margin: 0 auto 10px auto;
    padding: 20px;
    width: 100%;
    max-width: 500px;

    /*border: 4px orange dotted;*/
    border-radius: 5px;

    background-color: darkslateblue;

    text-align: center;
}

.welcome-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    margin: 2rem;
}

/* Media queries */
@media screen and (max-width: 700px) {

    .container {
        flex-direction: column;
    }
    .sub-container {
        width: 100%;
    }
    .user-menu-container {
        width: 100%;
    }

}

@media screen and (max-width: 580px) {
    /* User profile */
    #user-quiz-info {
        display: none;
    }

    .user-menu-container button {
        width: 3rem;
    }

    #login-btn::after {
        content: "" !important;
    }

    #logout-btn::after {
        content: "" !important;
    }

    #register-btn::after {
        content: "" !important;
    }

    button i {
        display: inline-block !important;
    }

    /* *** */

    .welcome-menu {
        flex-direction: column;
        align-items: center;
    }




}