.user-menu-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    z-index: 1;
    
    position: sticky;
    top: 0;
    left: 0;

    padding: 1%;

    height: 120px;
    width: 98%;

    background-color: darkslateblue;

    box-shadow: 0px 1px 6px black;
}

#user-quiz-info {
    align-items: normal;
}

#login-btn::after {
    content: "Login";
}

#logout-btn::after {
    content: "Logout";
}

#register-btn::after {
    content: "Register";
}