<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">

</head>

<body>

    <div class="container col">

        <div class="sub-container main">

            <form class="flex-column" th:action="@{/login}" method="post">
                <input type="text" id="username" name="username" placeholder="Username" autofocus="autofocus" autocomplete="email" required>
                <input type="password" id="password" name="password" placeholder="Password" autocomplete="current-password" required>
                <button type="submit">Login</button>
            </form>

    <!--        <div>--> <!-- todo display log in errors to user -->

    <!--            <ul th:if="${#fields.hasGlobalErrors()}">-->
    <!--                <li th:each="err : ${#fields.globalErrors()}" th:text="${err}"></li>-->
    <!--            </ul>-->

    <!--        </div>-->

        </div>

        <div class="center">
            <a th:href="@{/}">
                <button>Home</button>
            </a>
        </div>

    </div>  

</body>
</html>