<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <title>Welcome to Quiz API</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Recursive:wght@600&display=swap" rel="stylesheet">
</head>

<body>

    <div class="container main">

        <span id="title"><p th:text="'Welcome ' + ${name} + '!'"></p></span>

        <p>Welcome to the great big Tottenham Hotspur Quiz!
        If you're already registered please go play a quiz!
        Otherwise register yourself below.
        COYS!</p>

        <div class="options-container">

            <div class="option">
                <b>Play Quiz</b><a th:href="@{/play}">Play</a>
            </div>

            <div class="option">
                <b>Register</b><a th:href="@{/register}">Register</a>
            </div>

            <div class="option">
                <b>Create new question</b><a th:href="@{/create}">Create</a>
            </div>

            <div class="option">
                <b>Show all quizzes</b><a th:href="@{/quiz}"> <del>All quizzes</del></a>
            </div>

            <div class="option">
                <b>Show all users</b><a th:href="@{/users}"><del>All users</del></a>
            </div>

        </div>

    </div>

    <!-- "Buy me a coffee" button -->
    <div class="center">
        <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js"
                data-name="bmc-button" data-slug="simonaust" data-color="#FFDD00"
                data-emoji="" data-font="Cookie" data-text="Buy me a coffee"
                data-outline-color="#000000" data-font-color="#000000"
                data-coffee-color="#ffffff">
        </script>
    </div>

</body>