<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcome to Quiz API</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Recursive:wght@600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container main">
        <!-- Thymeleaf attributes go within the HTML tag.
             They reference a variable from the Java code
             model in the controller method or
             from other places like the query string
         -->
        <span id="title"><p th:text="'Welcome ' + ${name} + '!'"></p></span>
        
        Welcome to the great big Tottenham Hotspur Quiz! <br>
        If you're already registered please go play a quiz! <br>
        Otherwise register yourself below. <br>
        COYS! <br>
        <ul>
            <li><b>Play Quiz</b> : <a href="http://localhost:8080/play">Play</a></li>
            <li><b>Register</b> : <a href=#><del>Register</del></a></li>
            <li><b>Show all quizzes</b> : <a href="http://localhost:8080/quiz">All quizzes</a></li>
            <li><b>Show all users</b> : <a href="http://localhost:8080/users">All users</a></li>
        </ul>
        
        <!-- This th:text will append from a query string
             ?q= in the URL, if absent it place an empty string

        <p th:text="'The query parameter q is '+ ${param.q}"></p>

        -->
    </div>


</body>