<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" lang="en">

<head>
    <title>Welcome to Quiz API</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Meta tags for sharing to Twitter and Facebook, adds info to cards -->
    <meta property="og:title" content="Quiz Time Web App">
    <meta property="og:description" content="Play and share user created quizzes, and make your own!">
    <meta property="og:image" content="https://spring-web-quiz.herokuapp.com/img/share-card.png">
    <meta property="og:url" content="https://spring-web-quiz.herokuapp.com/">
    <meta property="og:site_name" content="Quiz Time Ltd">
    
    <meta name="twitter:title" content="Quiz Time Web App">
    <meta name="twitter:description" content="Play and share user created quizzes, and make your own!">
    <meta name="twitter:image" content="https://spring-web-quiz.herokuapp.com/img/share-card.png">
    <meta name="twitter:domain" content="https://spring-web-quiz.herokuapp.com/">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image:alt" content="Quiz Time logo card">

    <!-- Local Stylesheets -->
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/css/user-menu.css">

    <!-- Recursive font   -->
    <link href="https://fonts.googleapis.com/css2?family=Recursive:wght@600&display=swap" rel="stylesheet">
    <!-- Font Awesome   -->
    <script src="https://kit.fontawesome.com/3041f05cf0.js" crossorigin="anonymous"></script>
    <!-- Bootstrap framework    -->
<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"-->
<!--          integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">-->
</head>

<body>

<!--<svg viewBox="0 0 500 500"-->
<!--     preserveAspectRatio="xMinYMin meet"-->
<!--     style="z-index: -2;">-->

<!--    <path d="M0, 100-->
<!--            C150, 200-->
<!--            350, 0-->
<!--            500, 100-->
<!--            L500, 00-->
<!--            C350, -100-->
<!--            150, 100-->
<!--            0, 0 Z"-->
<!--          style="stroke: none;-->
<!--                fill:rgba(255,255,255, 0.5);">-->
<!--    </path>-->
<!--</svg>-->
<div th:replace="user-menu.html :: userMenu"></div>

<div class="container">

    <div class="sub-container main">

        <div class="center">
            <img src="/img/quiz-logo.png" id="logo" alt="Website logo">
        </div>

        <p>
            Welcome to Quiz Time! Here you can test your knowledge with user
            created quizzes! Build your score by getting the correct answers,
            improve your knowledge on many subjects!
            Create your own quiz question and share with friends!
        </p>

        <p sec:authorize="!isAuthenticated()">
            Please login or take ten seconds to register. By registering you
            may play user created quizzes and create your own. You will also be able
            to keep track of your score!
        </p>

        <div class="welcome-menu">

            <div class="flex" sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_USER')">
                <button class="label-btn">Play</button>
                <form class="flex" th:action="@{/play}">
                    <select name="topic" class="select mid">
                        <option value="RANDOM">Random</option>
                        <option value="SPORT">Sport</option>
                        <option value="GENERAL">General</option>
                        <option value="MATH">Math</option>                                                          
                        <option value="CODING">Coding</option>
                        <option value="SCIENCE">Science</option>
                        <option value="TOTTENHAM">Tottenham</option>
                    </select>
                    <button class="go-play" type="submit"><i class="fas fa-play"></i></button>
                </form>

            </div>

            <div sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_USER')">
                <a th:href="@{/create}"><button>Create</button></a>
            </div>

            <div sec:authorize="hasRole('ROLE_ADMIN')">
              <a th:href="@{/quiz}"><button>All quizzes</button></a>
            </div>

            <div sec:authorize="hasRole('ROLE_ADMIN')">
               <a th:href="@{/users}"><button>All users</button></a>
            </div>

        </div>

    </div>

</div>

<!-- "Buy me a coffee" button -->
<footer>

    <div class="slant"></div>

    <div class="center col">

        <p>
            Made with <i class="fas fa-coffee"></i> and <i class="fas fa-laptop-code"></i> 
            by <a href="https://www.simonaust.co.uk" target="_blank">Simon Aust</a>
        </p>

        <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js"
                data-name="bmc-button" data-slug="simonaust" data-color="#FFDD00"
                data-emoji="" data-font="Cookie" data-text="Buy me a coffee"
                data-outline-color="#000000" data-font-color="#000000"
                data-coffee-color="#ffffff">
        </script>

    </div>

</footer>

</body>